<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-5 offset-4">
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <br>
        <h3>Create a New Listing</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input name="listing[title]" placeholder="enter title" class="form-control" required>
            <br><br>
            <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required></textarea>              
       <div class="invalid-feedback">Please enter a short description</div> </div>
        
       
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]"  type="file" class="form-control">                     
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]"  class="form-control" placeholder="1200" required>
               <div class="invalid-feedback">Price should be valid!</div></div>
               

        
               <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]"  type="text" class="form-control" placeholder="India" required>      
               <div class="invalid-feedback">Country should be valid!</div></div>
               
               <div class="mb-3 col-md-8">
                <label for="category" class="form-label">Choose a Category:</label>
                <input list="locations" class="form-control"id="category" name="listing[category]" placeholder="Select a location">
                <datalist id="locations">
                    <option value="Rooms">
                    <option value="Mountains">
                    <option value="Iconic Cities">
                    <option value="Castles">
                    <option value="Amazing Pools">
                    <option value="Campings">
                    <option value="Farms">
                    <option value="Arctic">
                    <option value="Domes">
                    <option value="Boats">
                    <option value="Boats">
                </datalist>
               </div>
        </div>
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]"  type="text" class="form-control" placeholder="Jaipur, Rajasthan" required> 
        <div class="invalid-feedback">Location should be valid!</div></div>
        

        <br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>